autopep8==1.6.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
click==8.1.3
dnspython==2.2.1
Flask==2.1.2
Flask-PyMongo==2.3.0
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1652355753558/work
gunicorn==20.1.0
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964553571/work
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1651020470972/work
pycodestyle==2.8.0
PyJWT==2.3.0
pymongo==4.1.1
python-dotenv==0.20.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
toml==0.10.2
Werkzeug==2.1.2
zipp==3.8.0
